<input type="checkbox"/> <h3> Todo #<%= params[:id] %></h3>
    <a href="edit"></a> 
    <h1><%= @todo_description %></h1>
    <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate%> Pomodoro</span>
    <a href="#">Edit</a>
    <a href="#">Delete</a> 
    <a href="/index.html"> go back...</a>
    