input type="checkbox"/>
           <a href="edit"></a> 
           <h1><%= @todo_description %></h1>
           <a href="#">Edit</a>
          <a href="#">Delete</a> 
          <a href="/index.html"> go back...</
          